@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: azosans;
  src: url(public/assets/fonts/AzoSans-Regular.ttf);
}

@font-face {
  font-family: azosansBold;
  src: url(/assets/fonts/AzoSans-Bold.ttf);
}